.col-centered {
    float: none;
    margin: 0 auto;
}

h1 {
	margin-bottom: 20px;
}

.field-list, .log-text-area {
	height: 150px;
	overflow-y: auto;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 10px;
}

.field-list .field-type {
	margin: 7px;
	width: 184px;
}

.log-text-area {
	width: 100%;
}

body .container {
	padding-bottom: 20px;
}

button.clear {
	margin-right: 12px;
}

form {
	margin: 30px;
}